extends base

block content
    div#videoContainer(data-id=video._id)
        //data attribute를 이용해서 원하는 어떤 데이터든 html에 저장할 수 있다.
        //이것은 백엔드랑 프론트엔드 사이에 데이터를 공유하는 가장 쉬운 방법.
        video(src="/"+video.fileURL)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input#timeline(type="range",step="1", value="0", min="0").videoControls__timeline
            div.videoControls__volume
                input#volume(type="range",step="0.1", value=0.5, min="0", max="1")
                span#mute
                    i.fas.fa-volume-up
                span#fullscreen
                    i.fas.fa-expand
        
    // h3 #{video.title} 
    // h5 #{video.views} #{video.views === 1 ? "view" : "views"} 
    // 영어 단수, 복수 구분할 때 써야하므로 기억해야 한다.

    div.video__data
        p.video__title=video.title
        small.video__owner Uploaded by 
            a(href=`/users/${video.owner._id}`)=video.owner.name
        small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
    if String(video.owner._id) === String(loggedInUser._id)
    
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;
    //그런데, 이건 html에 코멘트 내용으로 보이게 되는데, 그렇게 하지 않기 위해서는
    //-이것을 쓰면 html에 comment로도 안보이는 pug만의 기록물로 남게 된다.

    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write Comments")
                button Add Comment 
    div.video__comments
        ul  
            each comment in video.comments.reverse()
                li.video__comment
                    i.fas.fa-comment
                        span #{comment.text}
block scripts 
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")
    //(-->를 이어받아서) 이렇게 하면, static를 이용해 assets폴더에 들어가서 그 안의 js폴더 안에 있는 videoPlayer.js를 쓸 수 있도록 한다.
